<p id="notice"><%= notice %></p>

Reply count updated successfully
<p>
  <b>Rcount:</b>
  <%= @votereply.rcount %>
</p>


<%= link_to 'Edit', edit_votereply_path(@votereply) %> |
<%= link_to 'Back', votereplies_path %>
